<h1 class="animated fadeIn fast">Datos de contacto</h1>
<hr>
<div class="animated fadeIn">
    <h2></h2>
    <div>
        <p> <i class="fas fa-phone"></i>
            <b> Teléfono: </b> <a href="tel:+34722843065">(+34) 722 84 30 65</a></p>
    </div>
    <div>
        <p> <i class="fas fa-envelope-open-text"></i>
            <b> Correo electrónico: </b><a href="mailto:danielpracticasdam@gmail.com">danielpracticasdam@gmail.com</a>
        </p>
    </div>
    <div>
        <p> <i class="fas fa-mail-bulk"></i>
            <b> Página resumen: </b><a href="https://jdanielc.github.io/proyecto-threejs/" target="_blank">Daniel's Website</a>
        </p>
    </div>
    
    <div>
        <!-- <p><b>Dirección</b> La Palma del Cdo., Huelva, C/Escultor Francisco Joaquin Moreno Daza Nº 12</p> -->
    </div>
</div>