<h1 class="animated fadeIn fast">¿Que es esta página?</h1>
<br><br>
<div class="accordion animated fadeIn" [ngStyle]="{accordionHeader: 'red'}" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
          Proposito
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>¿Para que existe esta página?</strong><br> Esta página web ha sido creada como una representación digital y en constante evolución de mi currículum vitae, abarcando de manera detallada tanto mi formación académica como mi experiencia profesional. Además de servir como un repositorio de mi trayectoria, constituye una plataforma dinámica que refleja mis habilidades y conocimientos adquiridos en el campo del desarrollo web. Este sitio no solo presenta mi recorrido educativo y profesional, sino que también funciona como un espacio práctico donde aplico de manera continua mis destrezas en tecnologías web.
                <br>
                Mi incursión en el desarrollo web comenzó de forma autodidacta, motivado por una profunda curiosidad por las tecnologías emergentes y el deseo de ampliar mis horizontes profesionales. Esta página es el resultado de mi aprendizaje constante, especialmente en el ámbito de Angular, una de las herramientas que más me ha cautivado y en la que he centrado gran parte de mis esfuerzos tras completar el C.F.G.S. de Desarrollo de Aplicaciones Multiplataforma. A través de esta página, no solo comparto mi experiencia y conocimientos previos, sino que también demuestro mi capacidad para adaptarme y evolucionar dentro de un campo tan dinámico como es el desarrollo web.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Desarrollo y funcionamiento
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>¿Como hiciste esta página?</strong><br> La creación de esta página fue realizada utilizando Visual Studio Code como entorno de desarrollo integrado (IDE), aprovechando su robustez y versatilidad para un flujo de trabajo eficiente y organizado. Para el desarrollo del Front-End, elegí Angular 10, un framework moderno y potente que me permitió construir una interfaz dinámica, interactiva y de alto rendimiento. Angular 10 fue la opción ideal debido a su arquitectura basada en componentes, su capacidad para gestionar aplicaciones de gran escala y su integración fluida con diversas herramientas y librerías.
                <br>
                Además, utilicé Bootstrap 4, un framework de diseño popular que me facilitó la creación de una interfaz estética y responsiva, asegurando que la página fuera accesible y funcional en una variedad de dispositivos y tamaños de pantalla. Bootstrap 4, con sus poderosos componentes y sistema de rejillas, me permitió optimizar el diseño sin necesidad de empezar desde cero, lo que resultó en una experiencia de usuario más pulida y profesional.
                <br>
                El propósito de este proyecto no solo fue crear una página web con una funcionalidad y diseño atractivos, sino también aprovechar la oportunidad para poner en práctica y profundizar mis conocimientos con estas tecnologías clave en el desarrollo web moderno. A través de este ejercicio, he logrado fortalecer mis habilidades tanto en el uso de Angular para la construcción de interfaces ricas e interactivas, como en el diseño web responsivo y accesible utilizando Bootstrap. Este proyecto ha sido un desafío enriquecedor que me ha permitido consolidar mis competencias técnicas y aplicar principios fundamentales de desarrollo web en un entorno real.
                </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Visión personal
        </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>¿Que uso planteas darle?</strong><br> El propósito principal de esta página es servir como una representación interactiva, dinámica y fácilmente actualizable de mis logros y experiencias profesionales en el ámbito de la programación y la consultoría tecnológica. A lo largo de mi carrera, he adquirido un conjunto de habilidades técnicas y estratégicas que me han permitido contribuir significativamente en diversos proyectos, tanto a nivel de desarrollo de software como en la implementación de soluciones tecnológicas innovadoras para empresas.
                <br>
                Esta página no solo actúa como una vitrina digital donde presento de manera detallada mi trayectoria profesional, sino que también ofrece una forma más accesible y visualmente atractiva de interactuar con mi historial laboral, permitiendo a empleadores, colegas y clientes potenciales explorar mi experiencia y competencias de manera más efectiva. La capacidad de actualizar y modificar el contenido de manera ágil asegura que mi perfil se mantenga al día con las últimas tecnologías que domino, los proyectos en los que participo y los logros obtenidos en mi carrera.
                <br>
                A través de esta plataforma, busco destacar mis capacidades tanto en el desarrollo de aplicaciones como en la asesoría y consultoría tecnológica, donde he tenido la oportunidad de guiar a organizaciones en la adopción de nuevas tecnologías y la mejora de sus procesos digitales. En resumen, esta página se ha diseñado para reflejar la evolución continua de mi carrera, brindando una visión clara y moderna de mis experiencias y contribuciones profesionales en un sector tan dinámico como lo es el tecnológico.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          En Resumen
        </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Mi página web</strong><br> 
                Esta página existe como una versión viva y digital de mi curriculum, desde mi educación a mi experiencia laboral. También existe como una práctica casual de mis conocimientos en desarrollo web, un territorio al cual me adentre por mi propia mano al finalizar el C.F.G.S de Desarrollo de Aplicaciones Multiplataforma, especialmente de Angular.
                <br>
                La página la hice usando Visual Studio Code como IDE, en Angular 10 para Front-End y con Bootstrap 4, con la intención de servir a su vez de práctica básica y prueba de mis conocimientos con estas tecnologías.
                <br>
                Su uso principal es el de ser una vista mas amena y actualizable de mis logros y eperiencias profesionales en el mundo de la programación y la consultoría tecnológica.
            </div>
        </div>
    </div>
    <div style="height: 40vh;" ></div>
</div>
