<h1 class="animated fadeIn">{{heroe.nombre | uppercase}}</h1>
<hr>
<div class="row animated fadeIn fast">

    <div class="col-md-4">
        <img [src]="heroe.img" [alt]="heroe.nomnbre" class="img-fluid">
        <br><br>
    </div>

    <div class="col-md-4">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <h5>¿Que es?</h5>
        <p>
            {{heroe.wiki}}
        </p>
        <div class="col">
            <button *ngIf="heroe.titulo" type="button" class="btn btn-outline-success m-2 animated fadeIn" (click)="tituloShow()">{{mnsjBoton}}</button>
            <img *ngIf="muestraTitulo" class="img-logo animated fadeIn" src="{{heroe.titulo}}" height="450px" alt="">
        </div>

        <!--    <div>
            <img *ngIf="heroe.casa == 'DC'" class="img-logo" src="assets/img/DC.png" alt="">
            <img *ngIf="heroe.casa == 'Marvel'" class="img-logo" src="assets/img/Marvel.png" alt="">

        </div>
        -->
        <a [routerLink]="['/conocimientos']" class="btn btn-outline-danger w-100">Regresar</a>

    </div>

</div>