<div class="card mb-3 aniamted fadeIn">
    <a href="https://www2.deloitte.com/es/es.html/" target="_blank">
        <img class="card-img-top animated fadeIn" src="assets/img/deloitte.png" alt="Deloitte">
    </a>
    <div class="card-body">
        <h5 class="card-title">Deloitte <small>(1 año)</small></h5>
        <p class="card-text">{{textDeloitte}}</p>
        <p class="card-text"><small class="text-muted">2020 - 2021</small></p>
        <a href=""></a>
    </div>
</div>
<div class="card mb-3 aniamted fadeIn">
    <a href="https://www.everis.com/spain/es/home-spain" target="_blank">
        <img class="card-img-top animated fadeIn" src="assets/img/everis-ntt-data.jpg" alt="Everis">
    </a>
    <div class="card-body">
        <h5 class="card-title">Everis S.L.U. / NTT Data <small>(2 años)</small></h5>
        <p class="card-text">{{textEveris}}</p>
        <p class="card-text"><small class="text-muted">02-2021 - 02-2023</small></p>
        <a href=""></a>
    </div>
</div>
<div class="card mb-3 aniamted fadeIn">
    <a href="https://www.irium.es" target="_blank">
        <img class="card-img-top animated fadeIn" src="assets/img/iyd.jpg" alt="Everis">
    </a>
    <div class="card-body">
        <h5 class="card-title">Irium Soluciones y Sistemas / Accenture <small></small></h5>
        <p class="card-text">{{textIrium}}</p>
        <p class="card-text"><small class="text-muted">02-2023 - Actualidad</small></p>
        <a href=""></a>
    </div>
</div>