<div class="jumbotron jumbotron-fluid animated fedaIn fast">

    <div class="container">
        <h1 class="display-4">Juan Daniel Cepeda Marín</h1>
        <p class="lead">Página de presentación personal</p>
    </div>
    <h1 class="animated fadeIn fast mb-4">Quien soy</h1>

    <div class="row">
        <div class="col-md-3">
            <img src="assets/img/yo1.jpg" class="animated fadeIn" height="300px" alt="">
        </div>
        <div class="col-md">
            <p class="animated fadeIn">{{texto}}</p>
        </div>
    </div>
</div>