<div class="jumbotron jumbotron-fluid animated fedaIn fast">

    <div class="container">
        <h1 class="display-4">Juan Daniel Cepeda Marín</h1>
        <p class="lead">Página de presentación personal</p>
    </div>
    <hr>
    <h1 class="animated fadeIn fast text-center text-md-left mb-10">Quien soy</h1>

    <div class="row">
        <div class="col-md-3">
            <img src="assets/img/yo1.jpg" class="animated fadeIn rounded  mx-auto d-block" height="300px" alt="">
        </div>
        <div class="col-md">
            <p class="animated fadeIn">{{texto}}</p>
        </div>
    </div>
</div>