<div class="jumbotron jumbotron-fluid animated fedaIn fast">

    <div class="container">
        <h1 class="display-4">Juan Daniel Cepeda Marín</h1>
        <p class="lead">Página de presentación personal</p>
    </div>
    <hr>

    <div id="carouselExampleCaptions" class="carousel slide animated fadeIn" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/webdev4.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Web Developer</h5>
                    <p>Conocimiento y experiencia en desarrollo de aplicaciones y servicios web</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/webdev3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Android Developer</h5>
                    <p>Conocimiento en desarrollo en dispositivos Android y Responsive</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/webdev2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Desktop App Developer</h5>
                    <p>Conocimiento en desarrollo de aplicaciones de escritorio</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <hr>
    <h1 class="animated fadeIn fast text-center text-md-left mb-10">Quien soy</h1>

    <div class="row">
        <div class="col-md-3">
            <img src="assets/img/yo2.jpg" class="animated fadeIn rounded  mx-auto d-block" height="300px" alt="">
        </div>
        <div class="col-md">
            <p class="animated fadeIn">{{texto1}}</p>
            <p class="animated fadeIn">{{texto2}}</p>
            <p class="animated fadeIn">{{texto3}}</p>

        </div>
    </div>
</div>