<h1>
    Estudios</h1>
<small>Grado Superior, Bachillerato y Otras Titulaciones</small>
<hr>

<div class="card mb-3" class="animated fadeIn">
    <img src="assets/img/ieslamarisma2.PNG" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Ciclo Formativo de Grado de Superior en <b>Desarrollo de Aplicaciones Multiplataforma</b></h5>
        <h4 class="card-text"><small class="text-muted">IES La Marisma</small></h4>
        <p class="card-text">{{textDam}}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">2017/2019</small>
    </div>
</div>
<hr class="mb-5">

<div class="card mb-3" class="animated fadeIn">
    <img src="assets/img/ieslapalma.PNG" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Bachillerato en modalidad <b>Cientifico-Tecnologico</b></h5>
        <h4 class="card-text"><small class="text-muted">IES La Palma del Cdo.</small></h4>
        <p class="card-text">{{textBach}}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">2015/2017</small>
    </div>
</div>