<footer class="footer">
    <div class="container p-0 animated fadeIn">
        <div class="row text-white py-3">
            <div class="col-5 h6 p-0"></div>
            <div class="col-6 h5">Contacto</div>
            <div class="col-5">
                <ul class="list-unstyled">
                    <li class="h6"><i class="fas fa-phone"></i> - Teléfono</li>
                    <li><a href="tel:+34722843065" target="_blank">(+34) 722 84 30 65</a></li>
                </ul>
            </div>
            <div class="col-5">
                <ul class="list-unstyled">
                    <li class="h6"><i class="fas fa-envelope-open-text"></i> - Correo electrónico</li>
                    <li><a href="mailto:danielpracticasdam@gmail.com" target="_blank">danielpracticasdam@gmail.com</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-unstyled">
                    <li class="h6"><i class="fas fa-id-card"></i> - Linkedin</li>
                    <li><a href="https://www.linkedin.com/in/juan-daniel-cepeda-marín-70278078" target="_blank">Daniel Cepeda Linkdln</a></li>
                </ul>
            </div>
            <div>
                
            </div>
            <div class="col-12 p-0" style="text-align: center;">
                <small>Página propiedad de Juan Daniel Cepeda Marín - España - 2024</small>
            </div>
        </div>
    </div>
</footer>
